[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyobjc-framework-quartz = "*"
pyobjc-core = "*"
pyobjc = "*"
pyautogui = "*"
tweepy = "*"

[dev-packages]

[requires]
python_version = "3.6"
